.main-content {
	display: flex;
	flex-flow: row;
}
.page-content {
	width: 100%;
}
.box {
	border-radius: 10px;
}
.products .product {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}
.products .product:not(:nth-child(3n)) a {
	border-right: 1px solid #eee;
}
@media (max-width: 991px) {
	.products .product a {
		border-right: 1px solid #eee;
	}
	.products .product:nth-child(2n) a {
		border-right: none;
	}
}

@media (max-width: 767px) {
	.products .product a {
		border-right: none !important;
	}
}